################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library
/Temp
/LDJAM39THEGAME.sln
/LDJAM39THEGAME.csproj
/Temp
/LDJAM39THEGAME.sln
/LDJAM39THEGAME.csproj
/.vs/LDJAM39THEGAME/v15/.suo
